<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h1 class="card-title">Welcome to grand KFC</h1>
    <p class="card-text">KFC, also known as Kentucky Fried Chicken, is an American fast food restaurant chain that specializes in fried chicken.</p>
    <a <%= link_to "MENU", kfcinfo_menu_path, class:"btn btn-primary btn-lg"%></a>
    <a <%= link_to "Contact US", kfcinfo_contactus_path, class:"btn btn-primary btn-lg" %></a>
  </div>